<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301f18t18.health_detective">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.view.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.SignUpActivity"/>
        <activity android:name=".presentation.view.activity.PatientProblemsActivity"
            android:parentActivityName=".presentation.view.activity.MainActivity"/>
        <activity android:name=".presentation.view.activity.ProblemEditAddActivity"
            android:parentActivityName=".presentation.view.activity.PatientProblemsActivity"/>
        <activity android:name=".presentation.view.activity.SearchActivity"
            android:parentActivityName=".presentation.view.activity.PatientProblemsActivity"/>
        <activity android:name=".presentation.view.activity.PatientRecordsActivity"
            android:parentActivityName=".presentation.view.activity.PatientProblemsActivity"/>
        <activity android:name=".presentation.view.activity.PatientRecordViewActivity"
            android:parentActivityName=".presentation.view.activity.PatientRecordsActivity"/>
        <activity android:name=".presentation.view.activity.PhotoViewActivity"></activity>
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
    </application>

</manifest>