<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cmput301f18t18.health_detective">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presentation.view.activity.views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".presentation.view.activity.views.SignUpActivity" />
        <activity android:name=".presentation.view.activity.views.PatientProblemsActivity" />
        <activity android:name=".presentation.view.activity.views.ProblemEditAddActivity" />
        <activity android:name=".presentation.view.activity.views.SearchActivity" />
        <activity android:name=".presentation.view.activity.views.PatientRecordsActivity" />
        <activity android:name=".presentation.view.activity.views.PatientRecordViewActivity" />
        <activity android:name=".presentation.view.activity.views.PhotoViewActivity"></activity>
    </application>

</manifest>